@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


* {
    margin: 0;
}
body {
    background: url(/img/blurry-background.svg);
    background-size: cover;
    overflow-x: hidden;

    font-family: "Google Sans Flex", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #303030;

    h1, h2, h3, h4, h5, b { color: #1b1b1b; }

    header {
        position: relative;
        padding: 210px 35px 35px 70px;
        margin: 35px 35px 35px;

        background: radial-gradient(circle at bottom left, #333333, #1b1b1b, #1b1b1b);
        box-shadow: 0 0 35px #0006;
        border-radius: 12px;
        overflow: hidden;

        h1 {
            font-size: 96px;
            color: #eee;
            position: relative;
            z-index: +1;
        }
    }
    header:not(:has(video))::before {
        content: " ";
        position: absolute;
        width: 105%;
        height: 250%;
        left: 50%; top: 50%;

        background: url(/img/header-design-pattern.png);
        background-size: 100% auto;
        background-position-y: center;
        transform: translate(-50%, -50%) rotate(15deg);
        opacity: .3;
    }
    
    a {
        text-decoration: none;
        color: #1b1b1b;
        font-weight: 600;
        width: fit-content;
        position: relative;
        transition: 200ms;
    }
    a:hover { color: #383838 }

    .btn1 {
        font-size: 22px;
        font-weight: 900;
        background: #1b1b1b;
        padding: 12px 26px;
        border-radius: 8px;
        color: #ccc !important;
        display: inline-block;
        border: 4px solid #1b1b1b;
        cursor: pointer;
        transition: 200ms;
    }
    .btn1:hover { box-shadow: inset 0 0 0 100vw #fff1; }

    .btn1.lightBtn {
        background: #eee;
        border-color: #eee;
        color: #2a2a2a !important;
    }
    .btn1.lightBtn:hover { box-shadow: inset 0 0 0 100vw #0002; }

    .btn2 {
        background: transparent;
        color: #1b1b1b !important;
    }
    .btn2:hover {
        box-shadow: none;
        background: #1b1b1b;
        color: #ccc !important;
    }

    article {
        position: relative;
        width: 95vw;
        max-width: 1200px;
        margin-inline: auto;

        .row.reversed { flex-direction: row-reverse; }
        .row {
            display: flex;
            align-items: center;
            gap: 70px;
            margin-block: 105px;

            > * { width: 100%; }

            img {
                object-fit: cover;
                border-radius: 16px;
            }
            .rowText {
                margin-top: -6px;

                h2 { font-size: 56px; }
                p {
                    font-size: 22px;
                    margin: 15px 0 25px;
                }
                .btn1.btn2 { margin-left: 12px; }
            }
        }
    }

    .infoBox-dark {
        padding: 12px 14px 24px;
        text-align: center;
        border-radius: 12px;

        background: #1b1b1b;
        background: radial-gradient(circle at bottom left, #333333, #1b1b1b, #1b1b1b);
        color: #ccc;
        h3 { color: #eee; }
    }
}


nav.navbar.detachedNav { top: 15px; }
nav.navbar {
    position: fixed;
    z-index: 100;
    left: 50%; top: 70px;
    transform: translateX(-50%);
    transition: 200ms;

    width: calc(100vw - 120px);
    max-width: 800px;
    padding: 16px;
    
    background: #fff6;
    border-radius: 8px;
    backdrop-filter: blur(20px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
        width: 110px;
        margin-bottom: -5px;
    }

    ul {
        padding: 0px;
        margin-block: auto;
        display: flex;
        gap: 12px;
        
        li::marker { content: none; }
        > li { position: relative; height: fit-content; padding-block: 5px; }

        a::before {
            content: " ";
            position: absolute;
            width: 0%;
            height: 2px;
            background: #4b4b4b;
            bottom: 0; left: 0;
            transition: inherit;
        }
        a:hover::before { width: 100%; }

        .navbarDropDown {
            position: absolute;
            top: 100%;
            background: rgb(226, 226, 226);
            backdrop-filter: blur(50px);
            padding: 6px 20px 6px 10px;
            border-radius: 12px;
            /* margin-top: 6px; */

            flex-direction: column;
            gap: 0;

            transform: translateY(15px);
            pointer-events: none;
            opacity: 0;
            transition: 200ms;
            transition-delay: 400ms;
        }
        li:has(.navbarDropDown):hover .navbarDropDown {
            transform: translateY(0);
            opacity: 1;
            pointer-events: all;
            transition-delay: 0s;
        }
    }

    .phone-menu-opener {
        display: none;
        position: relative;
        height: 52px;
        aspect-ratio: 1;
        cursor: pointer;
        transition: 200ms;
    }
    .phone-menu-opener:hover { opacity: .8; }
    .phone-menu-opener::before, .phone-menu-opener::after {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;

        left: 50%; top: 50%;
        transform: translate(-50%, -50%);

        border-radius: 9em;
        background: #292929;
        color: #292929;
        box-shadow: 0 16px, 0 -16px;
    }

    .btn1 { display: flex; align-items: center; }
}

nav.phone-nav.open-phone-nav { pointer-events: all; }
nav.phone-nav.open-phone-nav .escapeClickBg { opacity: 1; }
nav.phone-nav.open-phone-nav .phone-menu { transform: none; }
nav.phone-nav {
    position: fixed;
    z-index: 101;
    width: 100vw;
    height: 100vh;
    top: 0;
    pointer-events: none;

    .escapeClickBg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0005;
        backdrop-filter: blur(2px);

        opacity: 0;
        transition: 400ms;
    }
    
    .phone-menu {
        position: absolute;
        background: #eee;
        width: 80%;
        height: 100%;
        right: 0;

        transform: translateX(100%);
        transition: 400ms;

        .top-menu {
            width: calc(100% - 36px);
            display: flex;
            justify-content: space-between;
            gap: 12px;
            padding: 18px;

            img { height: 52px; }

            .closeMenu {
                position: relative;
                height: 52px;
                aspect-ratio: 1;
                cursor: pointer;
                transition: 200ms;
            }
            .closeMenu:hover { opacity: .8; }
            .closeMenu::before, .closeMenu::after {
                content: " ";
                display: block;
                position: absolute;
                width: 100%;
                height: 6px;

                left: 50%; top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);

                border-radius: 9em;
                background: #292929;
            }
            .closeMenu::after { transform: translate(-50%, -50%) rotate(-45deg); }
        }
        
        > ul {
            padding: 0;

            li::marker { content: none; }
            li {
                border-top: solid 1px #0002;
                
                .navbarDropDownClickPhone {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                }

                a {
                    width: calc(100% - 36px);
                    position: relative;
                    display: block;
                    height: fit-content;
                    padding: 12px 18px;
                    cursor: pointer;
                }

                i {
                    padding-inline: 18px;
                    border-left: solid 1px #0001;
                    font-size: 30px;
                    cursor: pointer;
                    transition: 400ms;
                }
            }
            > li:last-child { border-bottom: solid 1px #0002; }

            li:not(:has(.closed-navbarDropDownPhone)) .navbarDropDownClickPhone i { background: #0001; }
            .navbarDropDownPhone {
                transition: 400ms;
                overflow: hidden;
                padding: 0;

                li a {
                    padding-left: 36px;
                    border-color: #0001;
                    opacity: .75;
                }
            }
            .closed-navbarDropDownPhone { max-height: 0px !important; }
        }
    }
}

footer {
    position: relative;
    background: radial-gradient(circle at bottom right, #333333, #1b1b1b, #1b1b1b);
    padding: 35px 35px 0 35px;

    .footerContainer {
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;

        img { max-width: 500px; }

        .footerInfo {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 35px;

            border-top: 1px solid #fff2;
            padding-top: 20px;
            margin-top: 20px;

            h3 { 
                color: #eee;
                font-size: 32px;
                margin-bottom: 15px;
            }
            p, ul { color: #aaa; }
            ul { padding-left: 20px; }

            b, a { color: #ccc; }
            a:hover { color: #eee; }

            .disclaimer {
                font-size: 10px;
                margin-top: 4px;
                padding-top: 4px;
                width: fit-content;
                padding-right: 16px;
                border-top: solid 1px #fff2;
                color: #fff4;
            }
        }
    }
    .copyrights {
        background: #161616;
        margin: 35px -35px 0;
        width: 100%;
        padding: 18px 35px;
        font-size: 16px;
        color: #aaa;
        text-align: center;

        a { color: inherit; font-weight: 700; }
        a:hover { filter: brightness(.8); }
    }
}


#home {
    header::before {
        content: " ";
        position: absolute;
        bottom: 0; left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    }
    header {
        padding: 55vh 10vh 5vh;
        background: transparent;
    
        video {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            z-index: -1;
        }
    
        h1 {
            position: relative;
            font-size: 120px;
            color: #fff;
            
            display: flex;
            gap: 16px;
            align-items: center;
    
            .titleAppNames {
                position: relative;
                display: inline-block;
                width: 583px;
                height: 150px;
    
                span {
                    position: absolute;
                    left: 0; top: 0;
                    transform: translateY(-50%);
                    opacity: 0;
                    pointer-events: none;
                }
                .titleAppNamesAni { animation: sliderAppNamesHeader 3s ease-in; }
            }
        }
    }
    .apps-intro {
        position: relative;
        padding-inline: 35px;
        margin: 70px 0 -35px;

        .app {
            text-align: left;
            padding: 35px;

            h3 {
                font-size: 32px;
                margin-bottom: 12px;

                span {
                    display: block;
                    font-size: 18px;
                    opacity: .3;
                }
            }
            .btn1 { margin-top: 18px; }
        }
    }
    .features {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
        padding-inline: 35px;
        margin: 70px 0;

        .feature { padding: 35px; }

        h3 {
            font-size: 30px;
            margin-bottom: 8px;

            span {
                display: block;
                font-size: 48px;
                font-family: "Dosis", sans-serif;
            }
        }
        p { display: none; }
    }
}
@keyframes sliderAppNamesHeader {
    0% {
        transform: translateY(-50%);
        opacity: 0;
        pointer-events: none;
    }
    7.5% {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
    }
    92.5% {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
    }
    99.9% {
        transform: translateY(50%);
        opacity: 0;
        pointer-events: none;
    }
}


#contact {
    .row:has(#contactForm) {
        align-items: baseline;

        img {
            width: 46%;
            filter: drop-shadow(-8px 4px 8px #0003) grayscale(.1);
            opacity: .8;
        }

        #contactForm {
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin-top: 10px;

            .contactFormRow, label {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;
            }
            .contactFormRow {
                flex-direction: row;
                gap: 18px;
            }

            input, textarea {
                font-family: inherit;
                background: #fff4;
                color: #444;
                border: none;
                outline: none !important;
                box-shadow: 0 0 0 1px #0006;
                border-radius: 8px;
                padding: 12px 16px;
                transition: 200ms;
                font-size: 18px;
            }
            input:focus-within, textarea:focus-within { box-shadow: 0 0 0 2px #1b1b1b; }
        }
    }
}


@media (max-width: 1300px) {
    nav.navbar {
        top: 45px;
        left: 45px;
        transform: none;

        .btn1, .menu { display: none !important; }
        .phone-menu-opener { display: block !important; }
    }

    #home header { padding: 55vh 25px 25px !important; }
    header {
        margin: 25px 25px 25px !important;
        padding: 210px 25px 25px 25px !important;

        video {
            height: 100% !important;
            width: auto !important;
        }
        h1 {
            font-size: 62px !important;
            .titleAppNames { height: 78px !important; }
        }
    }

    .row, .row.reversed {
        flex-direction: column-reverse !important;
        gap: 35px !important;

        .btn2 {
            display: block;
            margin-left: 0 !important;
            margin-top: 8px;
        }
    }

    .progressUpdate {
        padding-inline: 0 !important;
        margin-bottom: -70px !important;
    }
}

@media (max-width: 762px) {
    .features, footer .footerContainer {
        grid-template-columns: 1fr !important;
    }
    #home header h1 {
        flex-direction: column;
        text-align: center !important;
        line-height: 64px;
        
        .titleAppNames { width: 100%; }
        .titleAppNames span { width: 100%; }
    }
}