@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


* {
    margin: 0;
}
body {
    background: url(/img/blurry-background.svg);
    background-size: cover;
    overflow-x: hidden;

    font-family: "Google Sans Flex", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #303030;

    h1, h2, h3, h4, h5, b { color: #1b1b1b; }
    
    a {
        text-decoration: none;
        color: #1b1b1b;
        font-weight: 600;
        width: fit-content;
        position: relative;
        transition: 200ms;
    }
    a:hover { color: #383838 }

    .btn1 {
        font-size: 22px;
        font-weight: 900;
        background: #1b1b1b;
        padding: 12px 26px;
        border-radius: 8px;
        color: #ccc !important;
        display: inline-block;
        border: 4px solid #1b1b1b;
    }
    .btn1:hover { box-shadow: inset 0 0 0 100vw #fff1; }

    .btn2 {
        background: transparent;
        color: #1b1b1b !important;
    }
    .btn2:hover {
        box-shadow: none;
        background: #1b1b1b;
        color: #ccc !important;
    }

    article {
        position: relative;
        width: 95vw;
        max-width: 1200px;
        margin-inline: auto;

        .row.reversed { flex-direction: row-reverse; }
        .row {
            display: flex;
            align-items: center;
            gap: 70px;
            margin-block: 105px;

            > * { width: 100%; }

            img {
                object-fit: cover;
                border-radius: 16px;
            }
            .rowText {
                margin-top: -6px;

                h2 { font-size: 56px; }
                p {
                    font-size: 22px;
                    margin: 15px 0 25px;
                }
                .btn1.btn2 { margin-left: 12px; }
            }
        }
    }
}

nav.detachedNav { top: 15px; }
nav {
    position: fixed;
    z-index: 100;
    left: 50%; top: 70px;
    transform: translateX(-50%);
    transition: 200ms;

    width: calc(100vw - 120px);
    max-width: 800px;
    padding: 16px;
    
    background: #fff6;
    border-radius: 8px;
    backdrop-filter: blur(20px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
        width: 110px;
        margin-bottom: -5px;
    }

    ul {
        padding: 0px;
        margin-block: auto;
        display: flex;
        gap: 12px;
        
        li::marker { content: none; }
        > li { position: relative; height: fit-content; padding-block: 5px; }

        a::before {
            content: " ";
            position: absolute;
            width: 0%;
            height: 2px;
            background: #4b4b4b;
            bottom: 0; left: 0;
            transition: inherit;
        }
        a:hover::before { width: 100%; }

        .navbarDropDown {
            position: absolute;
            top: 100%;
            background: rgb(226, 226, 226);
            backdrop-filter: blur(50px);
            padding: 6px 20px 6px 10px;
            border-radius: 12px;
            /* margin-top: 6px; */

            flex-direction: column;
            gap: 0;

            transform: translateY(15px);
            pointer-events: none;
            opacity: 0;
            transition: 200ms;
            transition-delay: 400ms;
        }
        li:has(.navbarDropDown):hover .navbarDropDown {
            transform: translateY(0);
            opacity: 1;
            pointer-events: all;
            transition-delay: 0s;
        }
    }

    .btn1 { display: flex; align-items: center; }
}

footer {
    position: relative;
    background: #1b1b1b;
    padding: 35px 35px 0 35px;

    .footerContainer {
        width: 100%;
        max-width: 1200px;
        margin-inline: auto;

        img { max-width: 500px; }

        .footerInfo {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 35px;

            border-top: 1px solid #fff2;
            padding-top: 20px;
            margin-top: 20px;

            h3 { 
                color: #eee;
                font-size: 32px;
                margin-bottom: 15px;
            }
            p, ul { color: #aaa; }
            ul { padding-left: 20px; }

            b, a { color: #ccc; }
            a:hover { color: #eee; }

            .disclaimer {
                font-size: 10px;
                margin-top: 4px;
                padding-top: 4px;
                width: fit-content;
                padding-right: 16px;
                border-top: solid 1px #fff2;
                color: #fff4;
            }
        }
    }
    .copyrights {
        background: #222222;
        margin: 35px -35px 0;
        width: 100%;
        padding: 18px 35px;
        font-size: 16px;
        color: #aaa;
        text-align: center;
    }
}

#home {
    header::before {
        content: " ";
        position: absolute;
        bottom: 0; left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    }
    header {
        padding: 55vh 10vh 5vh;
        margin: 35px 35px 35px;
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 35px #0006;
    
        video {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            z-index: -1;
        }
    
        h1 {
            position: relative;
            font-size: 120px;
            color: #fff;
            
            display: flex;
            gap: 16px;
            align-items: center;
    
            .titleAppNames {
                position: relative;
                display: inline-block;
                width: 583px;
                height: 150px;
    
                span {
                    position: absolute;
                    left: 0; top: 0;
                    transform: translateY(-50%);
                    opacity: 0;
                    pointer-events: none;
                }
                .titleAppNamesAni { animation: sliderAppNamesHeader 3s ease-in; }
            }
        }
    }
    .progressUpdate {
        padding-inline: 70px;
        margin: 70px 0 -35px;
    
        .progressBar {
            position: relative;
            overflow: hidden;
            width: 100%;
            background-color: #0002;
            border-radius: 12px;
    
            display: flex;
    
            .progress { 
                background: #2a2a2a;
                display: inline-block;
            }
            p {
                padding: 8px 14px;
                width: fit-content;
            }
        }
        .latestUpdate { padding: 8px 14px; }
    }
    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        /* padding-inline: 70px;
        margin: 70px 0 -35px; */

        > div {
            padding: 12px 14px 20px;
            text-align: center;
            background: #0001;
            border: solid 1px #0006;
            border-radius: 12px;

            h3 {
                font-size: 26px;
                margin-bottom: 8px;

                span {
                    display: block;
                    font-size: 36px;
                    font-family: "Dosis", sans-serif;
                }
            }
            /* p { font-size: 16px; } */
        }
    }
}
@keyframes sliderAppNamesHeader {
    0% {
        transform: translateY(-50%);
        opacity: 0;
        pointer-events: none;
    }
    7.5% {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
    }
    92.5% {
        transform: translateY(0%);
        opacity: 1;
        pointer-events: all;
    }
    99.9% {
        transform: translateY(50%);
        opacity: 0;
        pointer-events: none;
    }
}



@media (max-width: 1300px) {
    nav {
        top: 45px;
        .btn1 { display: none; }
    }

    #home header {
        margin: 25px 25px 25px;
        padding: 55vh 25px 25px;

        video {
            height: 100%;
            width: auto;
        }
        h1 {
            font-size: 62px;
            .titleAppNames { height: 78px; }
        }
    }

    .row, .row.reversed {
        flex-direction: column-reverse !important;
        gap: 35px;
    }

    .progressUpdate {
        padding-inline: 0 !important;
        margin-bottom: -70px !important;
    }
}

@media (max-width: 762px) {
    .features, footer .footerContainer {
        grid-template-columns: 1fr !important;
    }
}